{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
    {{response.files.insert(0, URL('static', 'js/scripts.js'))}}
    {{response.include_files()}}
    <title>Santa Imelda</title>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/styles.css')}}">
</head>
<body>
<div class="double">
    <div id="carrusel">
        {{for row in colecciones:}}
        <img class="mySlides" src="{{=URL('download',args=row.banner)}}" style="width:100%"/>
        {{pass}}
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">❮</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(1)">❯</button>
    </div>
    <div id="panel">
        <h1>Colecciones Santa Imelda</h1>
        <p>Tu nuevo crossover favorito.</p>
    </div>
</div>
<h1>Nuestros diseños</h1>
<div id="productos">
    {{for row in productos:}}
    <a href="{{=URL('default','product_details',args=row.id)}}">
    <div class="producto-card">
        <img src="{{=URL('download',args=row.imagen)}}" alt="{{=row.nombre}}">
        <h4>{{=row.nombre}}</h4>
    </div>
    </a>
    {{pass}}
</div>
</body>
</html>
