{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
    <title>Santa Imelda</title>
</head>
<body>

<div id="product-details">
    <a href="{{=URL('default','index')}}"><div class="close-button">x</div></a>

    <div class="product-image">
        <img src="{{=URL('download',args=product.modelos.imagen)}}" alt="Producto">
    </div>

    <div class="product-info">
        <h2>{{=product.modelos.nombre}}</h2>
        <div class="product-features">
            <p>Descripción: {{=product.modelos.descripcion}}</p>
            <p>Colección: {{=product.colecciones.nombre}}</p>
        </div>
        <div class="product-price">
            <h3>Precio: ${{=product.modelos.precio}}</h3>
            {{if auth.user:}}
            <a href="{{=URL('default','agregar',args=product.modelos.id)}}"><button class="add-to-cart">Añadir al Carrito</button></a>
            {{else:}}
            <a href="{{=URL('default','user/login')}}"><button class="add-to-cart">Inicia sesión para comprar</button></a>
            {{pass}}
        </div>
    </div>
</div>

</body>
</html>
