{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
    <title>Santa Imelda</title>
</head>
<body>
<div id="profile">
    <h2>Perfil de Usuario</h2>

    <div id="profile-card">
        <div id="user-info">
            <div id="user-img">
                <img src="{{=URL('download',args=profile.foto)}}" alt="Imagen de Usuario">
            </div>
            <h3>{{=profile.username}}</h3>
            <p>{{=profile.email}}</p>
            <p>{{=profile.fechanac}}</p>
        </div>
        <div id="user-actions">
            <div class="profile-section"> 
                <a href="{{=URL('default','addresses')}}"><button class="action-button">Ver Direcciones</button></a>
            </div>
            <div class="profile-section">
                <a href="{{=URL('default','orders')}}"><button class="action-button">Ver Pedidos</button></a>
            </div>
        </div>
    </div>
</div>


</body>
</html>
